/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_quizzly_admin";
    src: url("./flaticon_quizzly_admin.woff2?0bcb79c708f3afa270244fb9f81e90d3") format("woff2"),
url("./flaticon_quizzly_admin.woff?0bcb79c708f3afa270244fb9f81e90d3") format("woff"),
url("./flaticon_quizzly_admin.eot?0bcb79c708f3afa270244fb9f81e90d3#iefix") format("embedded-opentype"),
url("./flaticon_quizzly_admin.ttf?0bcb79c708f3afa270244fb9f81e90d3") format("truetype"),
url("./flaticon_quizzly_admin.svg?0bcb79c708f3afa270244fb9f81e90d3#flaticon_quizzly_admin") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_quizzly_admin !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-dashboard:before {
    content: "\f101";
}
.flaticon-settings:before {
    content: "\f102";
}
.flaticon-settings-1:before {
    content: "\f103";
}
.flaticon-user:before {
    content: "\f104";
}
.flaticon-user-profile:before {
    content: "\f105";
}
.flaticon-coding:before {
    content: "\f106";
}
.flaticon-payment-gateway:before {
    content: "\f107";
}
.flaticon-api:before {
    content: "\f108";
}
.flaticon-admin:before {
    content: "\f109";
}
.flaticon-customer-support:before {
    content: "\f10a";
}
.flaticon-rating:before {
    content: "\f10b";
}
.flaticon-user-1:before {
    content: "\f10c";
}
.flaticon-bell:before {
    content: "\f10d";
}
.flaticon-moon:before {
    content: "\f10e";
}
.flaticon-sun:before {
    content: "\f10f";
}
.flaticon-angle-square-right:before {
    content: "\f110";
}
.flaticon-angle-square-left:before {
    content: "\f111";
}
.flaticon-loupe:before {
    content: "\f112";
}
.flaticon-expand:before {
    content: "\f113";
}
.flaticon-full-screen:before {
    content: "\f114";
}
.flaticon-sleep-mode:before {
    content: "\f115";
}
.flaticon-sun-1:before {
    content: "\f116";
}
.flaticon-notification:before {
    content: "\f117";
}
.flaticon-editing:before {
    content: "\f118";
}
.flaticon-telephone:before {
    content: "\f119";
}
.flaticon-email:before {
    content: "\f11a";
}
.flaticon-location:before {
    content: "\f11b";
}
.flaticon-email-1:before {
    content: "\f11c";
}
.flaticon-building:before {
    content: "\f11d";
}
.flaticon-government:before {
    content: "\f11e";
}
.flaticon-maps:before {
    content: "\f11f";
}
.flaticon-password:before {
    content: "\f120";
}
.flaticon-security:before {
    content: "\f121";
}
.flaticon-browser:before {
    content: "\f122";
}
.flaticon-heading:before {
    content: "\f123";
}
.flaticon-paper-plane:before {
    content: "\f124";
}
.flaticon-delete:before {
    content: "\f125";
}
.flaticon-recycle:before {
    content: "\f126";
}
.flaticon-exchange:before {
    content: "\f127";
}
.flaticon-back:before {
    content: "\f128";
}
.flaticon-draft:before {
    content: "\f129";
}
.flaticon-dots:before {
    content: "\f12a";
}
.flaticon-info:before {
    content: "\f12b";
}
.flaticon-upload:before {
    content: "\f12c";
}
.flaticon-question-and-answer:before {
    content: "\f12d";
}
.flaticon-upload-1:before {
    content: "\f12e";
}
.flaticon-title:before {
    content: "\f12f";
}
.flaticon-pages:before {
    content: "\f130";
}
.flaticon-customer:before {
    content: "\f131";
}
.flaticon-position:before {
    content: "\f132";
}
.flaticon-restore:before {
    content: "\f133";
}
.flaticon-facebook:before {
    content: "\f134";
}
.flaticon-linkedin:before {
    content: "\f135";
}
.flaticon-twitter:before {
    content: "\f136";
}
.flaticon-instagram:before {
    content: "\f137";
}
.flaticon-plus:before {
    content: "\f138";
}
.flaticon-import:before {
    content: "\f139";
}
.flaticon-key:before {
    content: "\f13a";
}
.flaticon-check:before {
    content: "\f13b";
}
.flaticon-role:before {
    content: "\f13c";
}
.flaticon-link:before {
    content: "\f13d";
}
.flaticon-view:before {
    content: "\f13e";
}
.flaticon-hide:before {
    content: "\f13f";
}
.flaticon-id-card:before {
    content: "\f140";
}
.flaticon-email-2:before {
    content: "\f141";
}
.flaticon-email-3:before {
    content: "\f142";
}
.flaticon-id-card-1:before {
    content: "\f143";
}
.flaticon-mail:before {
    content: "\f144";
}
.flaticon-encrypted:before {
    content: "\f145";
}
.flaticon-refresh:before {
    content: "\f146";
}
.flaticon-email-4:before {
    content: "\f147";
}
.flaticon-copyright:before {
    content: "\f148";
}
.flaticon-colour:before {
    content: "\f149";
}
.flaticon-whatsapp:before {
    content: "\f14a";
}
.flaticon-chat:before {
    content: "\f14b";
}
.flaticon-facebook-1:before {
    content: "\f14c";
}
.flaticon-id-card-2:before {
    content: "\f14d";
}
.flaticon-app-development:before {
    content: "\f14e";
}
.flaticon-splash-page:before {
    content: "\f14f";
}
.flaticon-language:before {
    content: "\f150";
}
.flaticon-task:before {
    content: "\f151";
}
.flaticon-hourglass:before {
    content: "\f152";
}
.flaticon-gross:before {
    content: "\f153";
}
.flaticon-features:before {
    content: "\f154";
}
.flaticon-code:before {
    content: "\f155";
}
.flaticon-coin:before {
    content: "\f156";
}
.flaticon-promo-code:before {
    content: "\f157";
}
.flaticon-discount:before {
    content: "\f158";
}
.flaticon-calendar:before {
    content: "\f159";
}
.flaticon-speedometer:before {
    content: "\f15a";
}
.flaticon-database:before {
    content: "\f15b";
}
.flaticon-save:before {
    content: "\f15c";
}
.flaticon-record-button:before {
    content: "\f15d";
}
.flaticon-digital-marketing:before {
    content: "\f15e";
}
.flaticon-google:before {
    content: "\f15f";
}
.flaticon-speech-bubble:before {
    content: "\f160";
}
.flaticon-checkout:before {
    content: "\f161";
}
.flaticon-dashboard-1:before {
    content: "\f162";
}
.flaticon-box:before {
    content: "\f163";
}
.flaticon-folder-management:before {
    content: "\f164";
}
.flaticon-gear:before {
    content: "\f165";
}
.flaticon-web-development:before {
    content: "\f166";
}
.flaticon-web-optimization:before {
    content: "\f167";
}
.flaticon-extensions:before {
    content: "\f168";
}
.flaticon-help:before {
    content: "\f169";
}
.flaticon-external-link:before {
    content: "\f16a";
}
.flaticon-cancel:before {
    content: "\f16b";
}
.flaticon-email-5:before {
    content: "\f16c";
}
.flaticon-affiliate-marketing:before {
    content: "\f16d";
}
.flaticon-promo-code-1:before {
    content: "\f16e";
}
.flaticon-id:before {
    content: "\f16f";
}
.flaticon-tokens:before {
    content: "\f170";
}
.flaticon-link-1:before {
    content: "\f171";
}
.flaticon-people:before {
    content: "\f172";
}
.flaticon-tutorial:before {
    content: "\f173";
}
.flaticon-version:before {
    content: "\f174";
}
.flaticon-no-money:before {
    content: "\f175";
}
.flaticon-loss:before {
    content: "\f176";
}
.flaticon-clerk:before {
    content: "\f177";
}
.flaticon-header:before {
    content: "\f178";
}
.flaticon-tax:before {
    content: "\f179";
}
.flaticon-padlock:before {
    content: "\f17a";
}
.flaticon-hash:before {
    content: "\f17b";
}
.flaticon-program:before {
    content: "\f17c";
}
.flaticon-stock-exchange-app:before {
    content: "\f17d";
}
.flaticon-private-key:before {
    content: "\f17e";
}
.flaticon-24-hours-support:before {
    content: "\f17f";
}
.flaticon-next:before {
    content: "\f180";
}
.flaticon-next-1:before {
    content: "\f181";
}
.flaticon-bank:before {
    content: "\f182";
}
.flaticon-categories:before {
    content: "\f183";
}
.flaticon-editing-1:before {
    content: "\f184";
}
.flaticon-registration:before {
    content: "\f185";
}
.flaticon-brand-engagement:before {
    content: "\f186";
}
.flaticon-discount-code:before {
    content: "\f187";
}
.flaticon-coordination:before {
    content: "\f188";
}
.flaticon-cash-withdrawal:before {
    content: "\f189";
}
.flaticon-tag:before {
    content: "\f18a";
}
.flaticon-phone-message:before {
    content: "\f18b";
}
.flaticon-chat-1:before {
    content: "\f18c";
}
.flaticon-review:before {
    content: "\f18d";
}
.flaticon-book:before {
    content: "\f18e";
}
.flaticon-internet:before {
    content: "\f18f";
}
.flaticon-download:before {
    content: "\f190";
}
.flaticon-ai:before {
    content: "\f191";
}
.flaticon-search-interface-symbol:before {
    content: "\f192";
}
.flaticon-arrow-right:before {
    content: "\f193";
}
.flaticon-left-arrow:before {
    content: "\f194";
}
.flaticon-arrow-left:before {
    content: "\f195";
}
.flaticon-medal:before {
    content: "\f196";
}
.flaticon-checkmark:before {
    content: "\f197";
}
.flaticon-check-1:before {
    content: "\f198";
}
.flaticon-check-2:before {
    content: "\f199";
}
.flaticon-star:before {
    content: "\f19a";
}
.flaticon-star-1:before {
    content: "\f19b";
}
.flaticon-home:before {
    content: "\f19c";
}
.flaticon-turn-off:before {
    content: "\f19d";
}
.flaticon-logout:before {
    content: "\f19e";
}
.flaticon-down-arrow:before {
    content: "\f19f";
}
.flaticon-close:before {
    content: "\f1a0";
}
.flaticon-management:before {
    content: "\f1a1";
}
.flaticon-data-classification:before {
    content: "\f1a2";
}
.flaticon-gallery:before {
    content: "\f1a3";
}
.flaticon-photo:before {
    content: "\f1a4";
}
.flaticon-collaboration:before {
    content: "\f1a5";
}
.flaticon-management-1:before {
    content: "\f1a6";
}
.flaticon-enter:before {
    content: "\f1a7";
}
.flaticon-login:before {
    content: "\f1a8";
}
.flaticon-login-1:before {
    content: "\f1a9";
}
.flaticon-people-1:before {
    content: "\f1aa";
}
.flaticon-money-bag:before {
    content: "\f1ab";
}
.flaticon-save-money:before {
    content: "\f1ac";
}
.flaticon-help-1:before {
    content: "\f1ad";
}
.flaticon-question:before {
    content: "\f1ae";
}
.flaticon-idea:before {
    content: "\f1af";
}
.flaticon-increase:before {
    content: "\f1b0";
}
.flaticon-sales:before {
    content: "\f1b1";
}
.flaticon-increase-1:before {
    content: "\f1b2";
}
.flaticon-technology:before {
    content: "\f1b3";
}
.flaticon-language-1:before {
    content: "\f1b4";
}
.flaticon-countries:before {
    content: "\f1b5";
}
.flaticon-best-price:before {
    content: "\f1b6";
}
.flaticon-label:before {
    content: "\f1b7";
}
.flaticon-bar-code:before {
    content: "\f1b8";
}
.flaticon-reading:before {
    content: "\f1b9";
}
.flaticon-publishing:before {
    content: "\f1ba";
}
.flaticon-edit:before {
    content: "\f1bb";
}
.flaticon-foreign-language:before {
    content: "\f1bc";
}
.flaticon-document:before {
    content: "\f1bd";
}
.flaticon-keyword:before {
    content: "\f1be";
}
.flaticon-keyword-1:before {
    content: "\f1bf";
}
.flaticon-space-suit:before {
    content: "\f1c0";
}
.flaticon-ebook:before {
    content: "\f1c1";
}
.flaticon-audio-book:before {
    content: "\f1c2";
}
.flaticon-title-1:before {
    content: "\f1c3";
}
.flaticon-ui-design:before {
    content: "\f1c4";
}
.flaticon-list:before {
    content: "\f1c5";
}
.flaticon-content-writing:before {
    content: "\f1c6";
}
.flaticon-dollar:before {
    content: "\f1c7";
}
.flaticon-video:before {
    content: "\f1c8";
}
.flaticon-local-seo:before {
    content: "\f1c9";
}
.flaticon-play-button:before {
    content: "\f1ca";
}
.flaticon-pause:before {
    content: "\f1cb";
}
.flaticon-duration:before {
    content: "\f1cc";
}
.flaticon-chapter:before {
    content: "\f1cd";
}
.flaticon-select:before {
    content: "\f1ce";
}
.flaticon-description:before {
    content: "\f1cf";
}
.flaticon-file:before {
    content: "\f1d0";
}
.flaticon-seo:before {
    content: "\f1d1";
}
.flaticon-check-mark:before {
    content: "\f1d2";
}
.flaticon-crew:before {
    content: "\f1d3";
}
.flaticon-question-1:before {
    content: "\f1d4";
}
.flaticon-status:before {
    content: "\f1d5";
}
.flaticon-city:before {
    content: "\f1d6";
}
.flaticon-country:before {
    content: "\f1d7";
}
.flaticon-text:before {
    content: "\f1d8";
}
.flaticon-text-1:before {
    content: "\f1d9";
}
.flaticon-custom:before {
    content: "\f1da";
}
.flaticon-compression:before {
    content: "\f1db";
}
.flaticon-digital:before {
    content: "\f1dc";
}
.flaticon-id-card-3:before {
    content: "\f1dd";
}
.flaticon-id-1:before {
    content: "\f1de";
}
.flaticon-identification:before {
    content: "\f1df";
}
.flaticon-e-document:before {
    content: "\f1e0";
}
.flaticon-ai-1:before {
    content: "\f1e1";
}
.flaticon-camera:before {
    content: "\f1e2";
}
.flaticon-copy:before {
    content: "\f1e3";
}
.flaticon-writer:before {
    content: "\f1e4";
}
.flaticon-music:before {
    content: "\f1e5";
}
.flaticon-newsletter:before {
    content: "\f1e6";
}
.flaticon-subscribe:before {
    content: "\f1e7";
}
.flaticon-speech-bubble-1:before {
    content: "\f1e8";
}
.flaticon-achieve:before {
    content: "\f1e9";
}
.flaticon-brain:before {
    content: "\f1ea";
}
.flaticon-books:before {
    content: "\f1eb";
}
.flaticon-stopwatch:before {
    content: "\f1ec";
}
.flaticon-calendar-1:before {
    content: "\f1ed";
}
.flaticon-technical-support:before {
    content: "\f1ee";
}
.flaticon-question-2:before {
    content: "\f1ef";
}
.flaticon-a:before {
    content: "\f1f0";
}
.flaticon-b:before {
    content: "\f1f1";
}
.flaticon-c:before {
    content: "\f1f2";
}
.flaticon-d:before {
    content: "\f1f3";
}
.flaticon-light-bulb:before {
    content: "\f1f4";
}
.flaticon-alert:before {
    content: "\f1f5";
}
.flaticon-check-3:before {
    content: "\f1f6";
}
.flaticon-volume:before {
    content: "\f1f7";
}
.flaticon-process:before {
    content: "\f1f8";
}
.flaticon-star-medal:before {
    content: "\f1f9";
}
.flaticon-achieve-1:before {
    content: "\f1fa";
}
.flaticon-clock:before {
    content: "\f1fb";
}
.flaticon-swords:before {
    content: "\f1fc";
}
.flaticon-report:before {
    content: "\f1fd";
}
.flaticon-delete-1:before {
    content: "\f1fe";
}
.flaticon-warning:before {
    content: "\f1ff";
}

